body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f2f2f2;
}

/* Navbar */
.navbar {
  background: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 36px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.nav-logo {
  height: 30px;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px;
}

.hero-img {
  width: 100%;
  max-width: 550px;
  align-self: center;
  margin-bottom: 28px;
  margin-top: 20px;
  padding-left: 45px;
}

.hero-title {
  padding-left: 35px;
  font-size: 36px;
  margin: 0;
  font-weight: 600;
}

.hero-text {
  padding-left: 35px;
  font-size: 16px;
  margin-top: 12px;
  max-width: 360px;
  color: #555;
}

.card-list {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  padding: 20px 35px;
  scrollbar-width: none; /* Firefox */
}
.card-list::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}

.card {
  width: 175px;
  position: relative;
  flex-shrink: 0;
}

.card-img {
  width: 100%;
  border-radius: 10px;
}

.card-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: white;
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
}

.card-stats {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 6px;
}

.rating-star {
  color: red;
}

.gray {
  color: #918e9b;
  font-size: 12px;
}

.card-title, .card-price {
  font-size: 14px;
  margin: 3px 0;
}

.bold {
  font-weight: 700;
}
