body {
  margin: 0;
  background: #23252C;
  font-family: 'Inter', sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 317px;
  background: #1A1B21;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

.profile-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

main {
  text-align: center;
  padding: 20px;
  color: white;
}

main h1 {
  margin-bottom: 5px;
}

main h3 {
  color: #F3BF99;
  margin-top: 0;
}

.website {
  font-size: 13px;
  color: #A5A5A5;
  margin-top: 4px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 14px;
}

.email-btn, .linkedin-btn {
  padding: 8px 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Email */
.email-btn {
  background: #FFFFFF;
  color: #374151;
}

/* LinkedIn */
.linkedin-btn {
  background: #5093E2;
  color: white;
}

.info-section {
  text-align: left;
  margin-top: 20px;
}

.info-section h2 {
  font-size: 16px;
}

.info-section p {
  font-size: 13px;
  color: #D9D9D9;
  line-height: 1.4;
}

footer {
  background: #161619;
  padding: 14px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

footer img {
  width: 24px;
  cursor: pointer;
}
